server:
  port: 8443
  ssl:
    key-store-type: PKCS12
    key-store: classpath:cert/keystore.p12
    key-store-password: 123456
    key-alias: rest-app-hotel
    enabled: true
spring:
  application:
    name: reserved_hotel_rest_service
  # Настройки Actuator
  data:
    redis:
      host: /host.docker.internal
      port: 31033
#      port: 6379
      timeLiveMessages: 10m
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

db:
  service:
    data:
     host: http://host.docker.internal:8081/booking-app
    auth:
      host: http://host.docker.internal:8084/auth-db-app
management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
      base-path: /actuator
  endpoint:
    health:
      show-details: always
    prometheus:
      access: read_only
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
    tags:
      application: ${spring.application.name}
  server:
    port: ${server.port}  # Actuator порт (можно оставить тот же)
token:
  signing:
    key: 53A73E5F1C4E0A2D3B5F2D784E6A1B423D6F247D1F6E5C3A596D635A75327855
    expiration: 600m
    levelCrypto: 10

#    Генерация серта
#
#    keytool -genkeypair -alias rest-app-hotel -keyalg RSA -keysize 2048 -validity 365 -keystore keystore.p12 -storepass 123456 -keypass 123456 -dname "CN=localhost, OU=Development, O=Rest-app-hotel, L=Moscow, ST=Moscow, C=RU" -ext "SAN=dns:localhost,dns:host.docker.internal,ip:127.0.0.1"